/*********************
      Fonts
***********************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*********************
      Global Css 
***********************/
body {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
section{
    max-width: 1321px;
    margin-top: 47px;
    margin-bottom: 47px;
}

.active {
    background-color: red !important;
    color: white !important;
}


/*********************
      hero section 
***********************/
.hero-container{
    background: #1d0252;
    border-radius: 30px;
    display: flex;
    padding: 30px 106px;
}

.hero-container:first-child{
    display: flex;
    align-items: center;
}

.hero-column{
    width: 50%;
}

.hero-title {
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    margin: 0px;
    color: #fff;
}

.hero-description{
    color: #fff;
    margin: 40px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.hero-button{
    background: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    transition: all 0.2s;
}

.hero-button:hover{
    padding: 16px 30px;
    box-shadow: 0px 0px 10px;
}

.hero-button .fa-chevron-right{
    font-size: 14px;
}

/*********************
      blog section
***********************/
.blog-container{
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
}

.side-nav{
    width: 450px !important;
    background-color: #1d0252;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.side-nav .nav-link {
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding: 17px 0px;
    color: #161616;
    text-decoration: none;
    margin: 10px 0px;
    text-align: center;
}

.blogs{
    flex-grow: 1;
    padding-left: 24px;
}
.article-conatiner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

.blog {
    border: 0.5px solid rgb(204, 199, 199);
    border-radius: 10px;
}

.article-details{
    padding: 20px;
}

.article-group{
    padding: 4px 16px;
    border: 1px solid;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
}

.article-info {
    display: flex;
}

.article-time, .article-comments {
    width: 50%;
}

.blog-buuton-area{
    margin-top: 40px;
    text-align: center;
    display: none;
}

.blog-button{
    background: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}


/*********************
      Upcomming match section
***********************/

.matches{
    flex-grow: 1;
    padding-left: 24px;
}
.match-conatiner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

.match {
    border: 0.5px solid rgb(204, 199, 199);
    border-radius: 10px;
    padding: 30px;
}

.match-flag {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.match-country{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-weight: 600;
}
.vs{
    padding: 0px 10px;
    font-weight: bold;
}
.match-time {
    text-align: center;
    margin-top: 10px;
}

/*********************
      footer section
***********************/

.footer-conatiner{
    background: #1d0252;
    padding: 80px 0px;
}

.goal{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    padding: 30px 0px;
    border-bottom: 1px solid rgb(87, 85, 85);
}


.nav-conatiner{
    display: flex;
    justify-content: center;
    margin:30px 0;
}

.nav-conatiner li{
    list-style: none;
    text-align: center;
}

.nav-conatiner li a{
    text-decoration: none;
    color: #B9B9B9;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 5px 20px;
}

.social-buttons {
    text-align: center;
}

.social-link {
    color: white;
    padding: 20px;
}
.social-link i{
    font-size: 25px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    section{
        max-width: 100%;
    }
    .hero-container{
        padding: 30px 20px;
        flex-direction: column;
    }
    .hero-column{
        width: 100%;
        text-align: center;
    }
    .hero-column1-container{
        margin-bottom: 20px;
    }
    .hero-title {
        font-weight: 500;
        font-size: 45px;
        line-height: 50px;
    }
    .hero-description{
        margin: 30px 0px;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
    }
    .hero-button{
        padding: 10px 15px;
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
    }

    .blog-container{
        flex-wrap: wrap;
    }

    .side-nav{
        width: 100% !important;
        background-color: transparent;
        padding: 0px;
        margin-bottom: 20px;
    }

    .side-nav .nav-link {
        border: 1px solid #999;
        padding: 17px 20px;
    }

    .blogs{
        padding-left: 0px;
    }

    .article-conatiner{
        grid-template-columns: repeat(1,1fr);
    }

    .nav-conatiner{
        flex-wrap: wrap;
    }

    .nav-conatiner li{
        margin-bottom: 10px;
    }

    .nav-conatiner{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0px;
    }
    .matches {
        padding-left: 0px !important;
    }
    .match-conatiner{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
    }
    .match {
        padding: 10px;
    }


}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px){
    section{
        max-width: 100%;
    }
    .hero-container{
        padding: 30px 40px;
    }
    .hero-title {
        font-weight: 500;
        font-size: 45px;
        line-height: 50px;
    }
    .hero-description{
        margin: 30px 0px;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
    }
    .hero-button{
        padding: 10px 15px;
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
    }

    .blog-container{
        flex-wrap: wrap;
    }

    .side-nav{
        width: 100% !important;
        background-color: transparent;
        padding: 0px;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .side-nav .nav-link {
        border: 1px solid #999;
        width: 25%;
        font-size: 17px;
        padding: 17px 15px;
    }

    .blogs{
        padding-left: 0px;
    }

    .article-conatiner{
        grid-template-columns: repeat(2,1fr);
    }
    .blog-buuton-area{
        display: block;
    }

    .nav-conatiner{
        flex-wrap: wrap;
    }

    .nav-conatiner li{
        margin-bottom: 10px;
    }

    
    
    .matches {
        padding-left: 0px !important;
    }
    .match-conatiner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
    }
    .match {
        padding: 10px;
    }
    


}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px){
    section{
        max-width: 100%;
    }
    .hero-container{
        padding: 30px 40px;
    }
    .hero-title {
        font-weight: 500;
        font-size: 50px;
        line-height: 60px;
    }
    .hero-description{
        margin: 30px 0px;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
    }
    .hero-button{
        padding: 12px 20px;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
    }

    .side-nav {
        width: 400px !important;
    }
    .side-nav .nav-link {
        padding: 14px 16px;
        font-size: 17px;
    }

    .blogs{
        flex-grow: 1;
        padding-left: 15px;
    }
    .article-conatiner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
    }

    .side-nav-upcoming {
        width: 250px !important;
        padding: 15px;
    }
    
    .matches {
        padding-left: 14px !important;
    }
    .match-conatiner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
    }
    .match {
        padding: 10px;
    }
    .nav-conatiner{
        flex-wrap: wrap;
    }
    .nav-conatiner li{
        margin-bottom: 10px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) and (max-width: 1083px) {
    section{
        max-width: 100%;
    }
    .hero-container{
        padding: 30px 40px;
    }
    .hero-title {
        font-weight: 600;
        font-size: 60px;
        line-height: 60px;
    }

    .side-nav-upcoming {
        width: 250px !important;
        padding: 15px;
    }
    
    .matches {
        padding-left: 14px !important;
    }
    .match-conatiner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
    }
    .match {
        padding: 10px;
    }
}

@media only screen and (min-width: 1084px) and (max-width: 1200px) {
    section{
        max-width: 100%;
    }
    .hero-container{
        padding: 30px 40px;
    }
    .hero-title {
        font-weight: 600;
        font-size: 60px;
        line-height: 60px;
    }

    .side-nav-upcoming {
        width: 250px !important;
        padding: 15px;
    }
    .side-nav-upcoming .nav-link {

    }
    .matches {
        padding-left: 14px !important;
    }
    .match {
        padding: 10px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width:1300px){
    .side-nav-upcoming {
        width: 300px !important;
    }
    .match {
        padding: 10px;
    }
}
