/*********************
      Fonts
***********************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*********************
      Global Css 
***********************/
body {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
section{
    max-width: 1321px;
    margin-top: 47px;
    margin-bottom: 47px;
}

.active {
    background-color: red !important;
    color: white !important;
}


/*********************
      hero section 
***********************/
.hero-container{
    background: #161616;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 30px 106px;
}

.hero-container:first-child{
    display: flex;
    align-items: center;
}

.hero-column{
    width: 50%;
}

.hero-title {
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    margin: 0px;
    color: #fff;
}

.hero-description{
    color: #fff;
    margin: 40px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.hero-button{
    background: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.hero-button .fa-chevron-right{
    font-size: 14px;
}

/*********************
      blog section
***********************/
.blog-container{
    display: flex;
    align-items: flex-start;
}

.side-nav{
    width: 500px !important;
    background-color: #161616;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.side-nav .nav-link {
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding: 17px 0px;
    color: #161616;
    text-decoration: none;
    margin: 10px 0px;
    text-align: center;
}

.blogs{
    flex-grow: 1;
    padding-left: 24px;
}
.article-conatiner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

.blog {
    border: 0.5px solid rgb(204, 199, 199);
    border-radius: 10px;
}

.article-details{
    padding: 20px;
}

.article-group{
    padding: 4px 16px;
    border: 1px solid;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
}

.article-info {
    display: flex;
}

.article-time, .article-comments {
    width: 50%;
}

/*********************
      footer section
***********************/

.footer-conatiner{
    background: #161616;
    padding: 80px 0px;
}

.goal{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    padding: 30px 0px;
    border-bottom: 1px solid rgb(87, 85, 85);
}


.nav-conatiner{
    display: flex;
    justify-content: center;
    margin:30px 0;
}

.nav-conatiner li{
    list-style: none;
    text-align: center;
}

.nav-conatiner li a{
    text-decoration: none;
    color: #B9B9B9;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 5px 20px;
}

