/*********************
      Global Css 
***********************/
body {
    display: flex;
    justify-content: center;
}
section{
    max-width: 1321px;
}


/*********************
      hero section 
***********************/
.hero-container{
    background: #161616;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 30px 106px;
}

.hero-container:first-child{
    display: flex;
    align-items: center;
}

.hero-column{
    width: 50%;
}

.hero-title {
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    margin: 0px;
    color: #fff;
}

.hero-description{
    color: #fff;
    margin: 40px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.hero-button{
    background: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.hero-button .fa-chevron-right{
    font-size: 14px;
}